.wallpaper-viewer {
	background-image: url('../images/menu-bg.png');
}

.viewer-header {
	/*background: url('../images/viewer-header.png') top repeat-x;*/
	background: #000;
	width: 100%;
	height: 54px;
	position: absolute;
	top: 0px;
	opacity: 0.9;
	-webkit-transition: opacity 0.15s linear;
}

.more-container {
	background: #282828;
	width: 100%;
	height: 100px;
	position: absolute;
	top: 54px;
	opacity: 0.9;
	-webkit-transition-property:opacity;
	-webkit-transition-duration: 0.25s;
	-webkit-transition-timing-function: linear;
}

.viewer-footer {
	width: 80%;
	height: 115px;
	background: #000;
	border-radius: 10px;
	position: absolute;
	bottom: 5px;
	left: 10%;
	padding: 10px;
	opacity: 0.9;
	-webkit-transition: opacity 0.25s linear;
}
.viewer-titlebar {
	border-bottom: 1px solid #333;
}

.viewer-title {
	color: #888;
	text-align: left;
}

.viewer-artist {
	color: #777;
	font-size: 14pt;
	padding-left: 8pt;
	padding-top: 1pt;
}

.viewer-date {
	color: #888;
	font-size: 13pt;
	text-align: right;
	padding-top: 2pt;
}

.viewer-description {
	color: #666;
	font-size: 13pt;
}

#interfaceLIFT_wallpaperViewer_descriptionScroller_scrollFades_top {
	background: url('../images/viewer-description-fade-top.png') top center repeat-x;
	height: 10px;
}

#interfaceLIFT_wallpaperViewer_descriptionScroller_scrollFades_bottom {
	background: url('../images/viewer-description-fade-bottom.png') bottom center repeat-x;
	height: 10px;
}

.hide {
	opacity: 0;
}

.viewer-button {
	opacity: 0.6;
	margin-top: -5px;
}

.viewer-popup {
	background: rgba(0,0,0,0.85);
	border-radius: 10px;
	-webkit-border-image: none;
	padding: 15px;
	color: #CCC;
}

.enyo-progress-bar-inner {
	-webkit-border-image: url('../images/progress-bar-progress.png') 0 5 0 5 repeat repeat;
}

.show-more {
	opacity: 0.9;
}

/* more by artist */
.more-list {
	white-space: nowrap;
}

.more-item {
	float: left;
	border: none;
	height: 100px;
	padding: 11px;
}

.more-thumbnail {
	width: 125px;
	height: 78px;
	border-radius: 5px;
}